
<div class="container">
  <div class="row">
    <div class="card col-sm-8 col-sm-offset-2 m-2">
        <h1><%= @flat.name %></h1>
      <p> Address: <%= @flat.address %> </p>
      <p> Capacity: <%= @flat.number_of_guests %> </p>
      <p> Description: <%= @flat.description %> </p>
      <p> Price:<%= @flat.price_per_night %>EUR</p>
    </div>
  </div>
</div>
